{{ define "content"}}
{{- $paginator := .Paginate .Data.Pages.ByDate.Reverse 10 }}
<div class="res-cons">
    {{ range $index,$data := $paginator.Pages }}
    {{ if not .Params.hidden }}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ .Permalink }}" title="{{ .Title }}" target="_blank">{{ .Title }}</a>
            </h1>
        </header>
        {{ partial "post-meta.html" . }}
        <div class="post-content">
            {{ .Summary }}……
        </div>
        <p class="readmore"><a href="{{ .Permalink }}" target="_blank">{{ i18n "continueReading" }}</a></p>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "paginator" . }}
</div>
{{ end }}