{{- $datetime_format := i18n "Datetime_format" -}}
{{ if not .PublishDate.IsZero }}
  <time datetime="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="post-meta meta-date dt-published">
    {{ time.Format $datetime_format .PublishDate }}
  </time>
{{ end }}
{{ with .Params.Categories }}
<div class="post-meta meta-category">
  <span>&nbsp;|</span>
  {{ range . }}
    <a href='{{ "categories/" | relURL }}{{ . | urlize }}' target="_blank">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
